/* Reset default margin and padding */
html, body {
    margin: 0;
    padding: 0;
}
/* Nav bar styling */
#navbar {
    background-color: orange;
    padding: 30px;
    box-sizing: border-box; /* Ensure nav bar don't overfill the screen */
    width: 100%; /* Ensure navbar spans across the screen*/
    font-family: 'Avenir', 'Montserrat', 'Corbel', 'URW Gothic', 
                'Source Sans Pro', sans-serif;
    font-weight: normal;
    position: sticky;
    top: 0; /* Sticks to the top*/
    z-index: 1000; /* Ensure nav stay above of other contents */
    display: flex;
    align-items: center; /* Aligning item vertically */
    margin: 0;
}
    #navbar .title {
        display: flex;
        font-size: xx-large;
        font-weight: bold;
        text-decoration: none;
        color: whitesmoke;
    }
        #navbar .title  a {
            color: inherit;
            text-decoration: none;
        }
    #navbar .navButtons {
        display: flex;
        margin-left: auto;
        color: whitesmoke;
        font-size: x-large;
    }
        #navbar .navButtons a {
            color: inherit;
            text-decoration: none;
            border-radius: 10px;
            border: solid 2px;
            padding: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }

/* Trip Container styling */
.tripContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 20px; /* padding left right for 50 px*/
    font-family: 'Avenir', 'Montserrat', 'Corbel', 'URW Gothic', 
                'Source Sans Pro', sans-serif;
}
    .tripContainer .tripBox {
        flex: 1;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        background-color: #f9c499;
        min-width: 10%;
        max-width: 39%;
        height: 45px;
        display: flex; /* use flex box */
        /* Center horizontally and vertically */
        align-items: center;
        justify-content: center;
    }
        .tripContainer .tripBox h3 {
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
            font-weight: bold;
            font-family: inherit;
            font-size: larger;
        }

/* Add Trip Form Styling */

.container {
    display: flex; /* flexbox */
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Avenir', 'Montserrat', 'Corbel', 'URW Gothic', 
                'Source Sans Pro', sans-serif;
    border: none;
    /* width: 500px;
    height: 500px; */

}
    .container #formElement {
        background-color: rgba(241, 238, 238, 0.815);
        border-radius: 10px;
        border: 2px solid #d4d2d2f5;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
    }
        .container #formElement h2 {
            font-family: inherit;
            text-align: center;
            font-weight: 800;
            font-size: xx-large;
        }
        .container #formElement p {
            font-family: inherit;
            text-align: center;
            font-size: large;
            padding-bottom: 20px ;
            padding-top: 5px;
        }
        .container #formElement label {
            display: flex;
            font-family: inherit;
            font-size: large;
        }
        .container #formElement input {
            font-family: inherit;
            font-size: large;
            border: 2px solid #d4d2d2f5;
            box-sizing: border-box;
            border-radius: 5px;
            width: 600px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        .container #formElement textarea {
            display: flex;
            font-family: inherit;
            font-size: large;
            width: 600px;
            padding-left: 15px;
            padding-right: 10px;
            padding-top: 15px;
            padding-bottom: 10px;
            margin-top: 5px;
            margin-bottom: 20px;
            border: 2px solid #d4d2d2f5;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .container #formElement button {
            font-family: inherit;
            font-size: large;
            background-color: orange;
            justify-items: center;
            border: none;
            border-radius: 5px;
            margin-top: 5px;
            margin-bottom: 20px;
            width: 600px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
        }
        .container #formElement select {
            font-family: inherit;
            font-size: large;
            border: 2px solid #d4d2d2f5;
            box-sizing: border-box;
            border-radius: 5px;
            width: 600px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 5px;
            margin-bottom: 20px;
        }